@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:ital@1&family=Nunito:wght@500&family=Whisper&display=swap');


h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  color:#222;
}

a{
  color:#222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

.arab{
  font-family: Sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

a:hover{
  color:#c03803;
  text-decoration: dashed;
}
img{
  width: 100%;
  margin-top: 40px;
}

section{
  padding-bottom: 40px;
  padding-bottom: 12px;
}

.shadow-on-hover{
  transition: all 0.4s;
}

.shadow-on-hover:hover{
  box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
}

#about h1,p{
  margin-left: 0px auto;
  font-size: 20px;
}

#about .btn{
   margin-left: 150px;
}

/* btn */
.btn{
  border-radius: 10px 10px 10px 10px;
  padding:14px 38px;
}
  
.btn-brand{
  font-weight: 600;
  background-color: #c03803;
  color:white;
  border-color: black;
}

.btn-brand:hover{
  background-color: #155789;
  border-color: #c03803;
  color:white;
}

.slider-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/slider1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/slider2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/slider3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-slider h6::after,
#hero-slider h6::before{
  content:" ";
  width:20px;
  height:4px;
  display: inline-block;
  background-color: #fff;
  vertical-align:middle;
  margin:10px;
}

.carousel-control-prev,
.carousel-control-next{
  background-color: rgba(0, 0, 0, 0.5);
  height:70px;
  width:40px;
  margin: auto;
}
 /* intro */
 .intro-text{
  /* margin-top: 80px; */
  margin-bottom: 40px;
  text-align: center;
 }
 .intro-text p{
  max-width: 500px;
  margin:16px auto 0 auto;
  font-size: 16px;
 }

 #menu .nav-pills .nav-link{
     background-color: white;
     margin-left: 8px;
     margin-right: 8px;
     color:#222;
     border-radius: 100px;
     box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.51);
     /* transition: ease-in-out; */
 }

 #menu .nav-pills .nav-link.active{
  background-color: #c03803;
  color:#fff;
 }

 .menu-items .stars{
  color:#c03803
 }

 .shadow-on-hover{
  transition: all 0.3s;
 }

 .shadow-on-hover:hover{
  box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
 }

 /*   features  */
 #features{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/slider2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 }

 .features{
  border: 2px solid rgba(255, 255, 255, 0.2);
 }

 .features .features-icon{
  width:80px;
  height:80px;
  background-color: #c03803;
  color:white;
  font-size: 28px;
  display: inline-grid;
  align-content: center;
  text-align: center;
 }

 /*  Reviews */

 #reviews{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/slider3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .review img{
  width:150px;
  height:75px;

 }

 .review .review-icon{
  font-size:74px;
  color:#c03803;
  line-height:1;
 }

 /* Reservation */
 #reservation .form-control{
  border-radius: 0;
 }

 #reservation .form-control:focus{
  box-shadow: none;
  border:#c03803
 }

 #reservation input.form-control{
  height:47px;
 }

 .register-form {
  background-image: url('/images/registerbg.png') ;
  background-size: cover; 
  background-position: center; /* Adjust as needed */
  padding: 20px; /* Add some padding to improve visibility of the form content */
  border-radius: 10px; /* Optional: Add rounded corners */
  color: #ffffff; /* Optional: Set text color to white or a suitable contrast color */
  margin-top: 30px;
}

 #footers .footer{
  min-height: 300px;
}

.footer img{
  height:100px;
  width:250px;
}

/*soial media icons` */
.smi{
  list-style-type: none;
}

.smi li{
  display: inline-block;
 background-color: white;
 border-radius: 50%;
  padding:5px 10px;
  
}
  

